@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
   font-family: "Outfit";
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
   border-radius: 999px;
  cursor: pointer;
}

/* Chrome / Safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background-image: url("/slide_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-layer{
  background-image: url(/bg_layer.png);
}
